.main-header, .header-inner, .header-header {
    position: relative;
    // float: left;
    width: 100%;
    height: 52px;
    margin: 0;
}

.main-header, .header-inner {
    background: var(--header-bg);
    background: -moz-linear-gradient(90deg, var(--header-bg) 0%, var(--header-bg1) 100%);
    background: -webkit-linear-gradient(90deg, var(--header-bg) 0%, var(--header-bg1) 100%);
    background: -o-linear-gradient(90deg, var(--header-bg) 0%, var(--header-bg1) 100%);
    background: -ms-linear-gradient(90deg, var(--header-bg) 0%, var(--header-bg1) 100%);
    background: linear-gradient(90deg, var(--header-bg) 0%, var(--header-bg1) 100%);
}

.flex-center, .flex-c {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1170px) {
    #header-wrapper .container, #header-ads-wrap > .container, #ticker-wrapper .container, #featured-wrap > .container, #home-ads-wrap > .container, #content-wrapper > .container, #footer-ads-wrap > .container, #footer-wrapper .container {
        padding: 0 15px;
    }
}

.header-header .container {
    padding: 0;
}

@media only screen and (max-width: 1170px) {
    .row-x1 {
        width: 100%;
        max-width: 100%;
    }
}

.row-x1 {
    width: 1140px;
}

.container {
    position: relative;
}

@media only screen and (max-width: 980px) {
    .header-items {
        flex-wrap: nowrap;
    }
}

.header-items {
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
}

.main-logo {
    position: relative;
    float: left;
    height: 52px;
    overflow: hidden;
    padding: 0 14px 0 0;
    margin: 0;
}

.main-logo .widget {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
}

@media only screen and (max-width: 980px) {
    .mobile-menu-toggle {
        display: flex;
    }
}

.mobile-menu-toggle {
    display: none;
    height: 34px;
    font-size: 18px;
    color: var(--header-color);
    align-items: center;
    padding: 0 15px;
}

a, a:visited {
    text-decoration: none;
}

a {
    color: var(--main-color);
}


.main-logo .logo-img {
    display: flex;
    align-items: center;
    height: 44px;
    overflow: hidden;
    margin: 0;
}

.mobile-menu-toggle:after {
    content: '\f0c9';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin: 0;
}

.main-logo img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
}

.main-logo #h1-off {
    position: absolute;
    top: -9000px;
    left: -9000px;
    display: none;
    visibility: hidden;
}

@media only screen and (max-width: 980px) {
    .topbar-wrap, #tecify-pro-main-nav {
        display: none !important;
    }
}

#tecify-pro-main-nav {
    position: static;
    height: 52px;
    z-index: 10;
}

#tecify-pro-main-nav .show-menu {
    display: block;
}

#tecify-pro-main-nav .widget, #tecify-pro-main-nav .widget > .widget-title {
    // display: none;
}

#tecify-pro-main-nav ul#tecify-pro-main-nav-menu {
    display: flex;
    // flex-wrap: wrap;
    color: white;
}

.section, .widget, .widget ul {
    margin: 0;
    padding: 0;
}

#tecify-pro-main-nav ul > li {
    position: relative;
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

#tecify-pro-main-nav-menu > li > a {
    position: relative;
    display: block;
    height: 52px;
    font-family: var(--menu-font);
    font-size: 14px;
    color: var(--header-color);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 52px;
    padding: 0 14px;
    margin: 0;
}

#tecify-pro-main-nav ul > li > ul, #tecify-pro-main-nav ul > li > .ul {
    position: absolute;
    left: 0;
    top: 52px;
    width: 180px;
    background-color: white;
    z-index: 99999;
    padding: 5px 0;
    backface-visibility: hidden;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 5px 10px 0 rgba(0,0,0,0.1);
}

#tecify-pro-main-nav ul ul, #tecify-pro-main-nav ul .ul {
    transition: visibility .1s ease, opacity .17s ease;
}

#tecify-pro-main-nav ul > li > ul > li {
    display: block;
    float: none;
    position: relative;
}

#tecify-pro-main-nav ul > li > ul > li a {
    position: relative;
    display: block;
    font-size: 14px;
    color: var(--submenu-color);
    font-weight: 400;
    padding: 8px 14px;
    margin: 0;
}

#tecify-pro-main-nav ul > li > ul > li > ul {
    position: absolute;
    top: -5px;
    left: 100%;
    margin: 0;
}

#tecify-pro-main-nav .mega-menu {
    position: static !important;
}

#tecify-pro-main-nav ul > li > ul > li a {
    position: relative;
    display: block;
    font-size: 14px;
    color: var(--submenu-color);
    font-weight: 400;
    padding: 8px 14px;
    margin: 0;
}

#tecify-pro-main-nav .mega-menu {
    position: static !important;
}

#tecify-pro-main-nav-menu > li > a {
    position: relative;
    display: block;
    height: 52px;
    font-family: var(--menu-font);
    font-size: 14px;
    color: var(--header-color);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 52px;
    padding: 0 14px;
    margin: 0;
}

#tecify-pro-main-nav .mega-menu > .ul {
    width: 100%;
    overflow: hidden;
    background-color: var(--megamenu-bg);
    padding: 20px;
}

.mega-items .mega-item {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.mega-item .entry-image-wrap {
    width: 100%;
    height: 124px;
    z-index: 1;
    margin: 0 0 8px;
}

.mega-item .entry-title {
    font-size: 15px;
}

.entry-title {
    display: block;
    color: var(--post-title-color);
    font-weight: 700;
    line-height: 1.3em;
}

.entry-meta {
    display: flex;
    font-family: var(--meta-font);
    font-size: 12px;
    color: var(--meta-color);
    font-weight: 400;
    margin: 4px 0 0;
}
    
   
.header {

    &__dropdown {
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
        // height: 100px;
        width: 100% !important;
        z-index: 99999;
        background-color: white;
    }

    &__dropdown-item {
        color: black;

        &:hover {
            text-decoration: underline;
        }
    }
}
