<div class="blog">
    <div class="blog__body default-container">
        <p class="blog__title">Статьи</p>
        <div class="blog__wraper">
            <aside class="blog__aside">
                <p class="blog__aside-title">Список статей</p>
            </aside>
            <div class="blog__main">
                @include("./blogCard.html", {
                    'img' : '../img/test_bg.jpeg',
                    "title" : 'Article1',
                    "date": '12 December 2023'
                    "link": '#'
                })
                @include("./blogCard.html", {
                    'img' : '../img/test_bg.jpeg',
                    "title" : 'Article2',
                    "date": '12 December 2023'
                    "link": '#'
                })
                @include("./blogCard.html", {
                    'img' : '../img/test_bg.jpeg',
                    "title" : 'Article3',
                    "date": '12 December 2023'
                    "link": '#'
                })
                @include("./blogCard.html", {
                    'img' : '../img/test_bg.jpeg',
                    "title" : 'Article4',
                    "date": '12 December 2023'
                    "link": '#'
                })
                @include("./blogCard.html", {
                    'img' : '../img/test_bg.jpeg',
                    "title" : 'Article5',
                    "date": '12 December 2023'
                    "link": '#'
                })
                @include("./blogCard.html", {
                    'img' : '../img/test_bg.jpeg',
                    "title" : 'Article6',
                    "date": '12 December 2023'
                    "link": '#'
                })
                @include("./blogCard.html", {
                    'img' : '../img/test_bg.jpeg',
                    "title" : 'Article7',
                    "date": '12 December 2023'
                    "link": '#'
                })
                @include("./blogCard.html", {
                    'img' : '../img/test_bg.jpeg',
                    "title" : 'Article8',
                    "date": '12 December 2023'
                    "link": '#'
                })
                @include("./blogCard.html", {
                    'img' : '../img/test_bg.jpeg',
                    "title" : 'Article9',
                    "date": '12 December 2023'
                    "link": '#'
                })
            </div>
        </div>
    </div>
</div>