<div class="blogCard">
    <a title="Docker makes secrets management a built-in feature of its enterprise product" class="blogCard__img" href="@link">
        <span class="blogCard__link" data-image="@img" style="background-image:url(@img)"></span>
    </a>
    <div class="blogCard__header">
        <h2 class="blogCard__title">
            <a href="@link" title="@title">@title</a>
        </h2>
        <div class="blogCard__meta">
            <span class="blogCard__time">
                <time class="published" datetime="2023-12-20T05:00:00.000-08:00">@date</time>
            </span>
        </div>
    </div>
</div>