<footer class="footer-bar flex-c">
  <a class="btn on-footer" href="javascript:;" id="back-top" role="button" title="Back To Top" style="display: inline;"></a>
  <div class="container row-x1 flex-sb">
  <div class="footer-copyright" id="footer-copyright">
  <p>Teslamaran <span>©</span></p>
  </div>
  <div class="footer-menu section" id="footer-menu" name="Footer Menu"><div class="widget LinkList" data-version="2" id="LinkList204">
  <ul class="link-list list-style">
  <li><a href="#">Home</a></li>
  <li><a href="#">Blog</a></li>
  <li><a href="#">Contacts</a></li>
  </ul>
  </div></div>
  </div>
  </footer>
