<footer class="footer-bar flex-c">
  <a class="btn on-footer" href="javascript:;" id="back-top" role="button" title="Back To Top" style="display: inline;"></a>
  <div class="container row-x1 flex-sb">
  <div class="footer-copyright" id="footer-copyright">
  <span class="copyright-text">Design by <a href="https://www.templateify.com/" id="mycontent" title="Templateify" rel="dofollow" style="display: inline-block!important; font-size: inherit!important; color:#1a73e8!important; visibility: visible!important;z-index:99!important; opacity: 1!important;position:relative!important;font-weight: 700;">Templateify</a></span>
  </div>
  <div class="footer-menu section" id="footer-menu" name="Footer Menu"><div class="widget LinkList" data-version="2" id="LinkList204">
  <ul class="link-list list-style">
  <li><a href="/">Home</a></li>
  <li><a href="https://tecify-templateify.blogspot.com/p/about.html">About Us</a></li>
  <li><a href="https://tecify-templateify.blogspot.com/p/contact-us.html">Contact Us</a></li>
  <li><a href="https://tecify-templateify.blogspot.com/?hl=ar">RTL Version</a></li>
  </ul>
  </div></div>
  </div>
  </footer>
