<div id="grid-wrapper">
    <div class="container row">
    <div class="featured-posts section" id="featured-posts" name="Grid Post Section"><div class="widget HTML show-grid" data-version="2" id="HTML10">
    <div class="widget-title">
    <!-- <h3 class="title">
    Blog
    </h3> -->
    </div>
    <div class="widget-content">
        <ul class="grid-big">
            <li class="feat-item item-big item-0">
                <div class="feat-inner">
                    @include('./galery.html')
                        <div class="post-info">
                            <h2 class="post-title">
                                <a href="https://sio-soratemplates.blogspot.com/2022/06/ladicorn-mos.html">Ladicorn Mos</a>
                            </h2>
                            <div class="post-meta">
                                <span class="post-date">June 11, 2022</span>
                            </div>
                            <p class="post-snippet">Lorem Ipsum has been the industry's standard dummy text ever since the  1500s, when an…</p>
                        </div>
                    </div>
                </li>
                <li class="feat-item item-big item-1">
                    <div class="feat-inner">
                        @include('./galery.html')
                            <div class="post-info">
                                <h2 class="post-title">
                                    <a href="https://sio-soratemplates.blogspot.com/2022/06/morgan-11.html">Morgan  11</a>
                                </h2>
                                <div class="post-meta">
                                    <span class="post-date">June 11, 2022</span>
                                </div>
                                <p class="post-snippet">{tocify} $title={Table of Contents}Lorem Ipsum is simply dummy text of the printing an…</p>
                            </div>
                        </div>
                    </li>
                    <li class="feat-item item-big item-2">
                        <div class="feat-inner">
                            @include('./galery.html')
                                <div class="post-info">
                                    <h2 class="post-title">
                                        <a href="https://sio-soratemplates.blogspot.com/2022/06/orgajis.html">Orgajis</a>
                                    </h2>
                                    <div class="post-meta">
                                        <span class="post-date">June 11, 2022</span>
                                    </div>
                                    <p class="post-snippet">Lorem Ipsum is simply dummy text of the printing and typesetting  industry. Lorem Ipsu…</p>
                                </div>
                            </div>
                        </li>
                        <li class="feat-item item-big item-3">
                            <div class="feat-inner">
                                @include('./galery.html')
                                    <div class="post-info">
                                        <h2 class="post-title">
                                            <a href="https://sio-soratemplates.blogspot.com/2018/05/preatent.html">Preatent</a>
                                        </h2>
                                        <div class="post-meta">
                                            <span class="post-date">May 23, 2018</span>
                                        </div>
                                        <p class="post-snippet">Lorem Ipsum is simply dummy text of the printing and typesetting  industry. Lorem Ipsu…</p>
                                    </div>
                                </div>
                            </li>
                            <li class="feat-item item-big item-4">
                                <div class="feat-inner">
                                    @include('./galery.html')
                                        <div class="post-info">
                                            <h2 class="post-title">
                                                <a href="https://sio-soratemplates.blogspot.com/2018/05/orthogon720.html">Orthogon#720</a>
                                            </h2>
                                            <div class="post-meta">
                                                <span class="post-date">May 23, 2018</span>
                                            </div>
                                            <p class="post-snippet">Lorem Ipsum is simply dummy text of the printing and typesetting  industry. Lorem Ipsu…</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="feat-item item-big item-5">
                                    <div class="feat-inner">
                                        @include('./galery.html')
                                            <div class="post-info">
                                                <h2 class="post-title">
                                                    <a href="https://sio-soratemplates.blogspot.com/2018/05/the-amazing-game.html">The Amazing Game</a>
                                                </h2>
                                                <div class="post-meta">
                                                    <span class="post-date">May 23, 2018</span>
                                                </div>
                                                <p class="post-snippet">Lorem Ipsum is simply dummy text of the printing and typesetting  industry. Lorem Ipsu…</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="feat-item item-big item-6">
                                        <div class="feat-inner">
                                            @include('./galery.html')
                                                <div class="post-info">
                                                    <h2 class="post-title">
                                                        <a href="https://sio-soratemplates.blogspot.com/2018/05/the-spinning-skull.html">The Spinning Skull</a>
                                                    </h2>
                                                    <div class="post-meta">
                                                        <span class="post-date">May 23, 2018</span>
                                                    </div>
                                                    <p class="post-snippet">Lorem Ipsum is simply dummy text of the printing and typesetting  industry. Lorem Ipsu…</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="feat-item item-big item-7">
                                            <div class="feat-inner">
                                                @include('./galery.html')
                                                    <div class="post-info">
                                                        <h2 class="post-title">
                                                            <a href="https://sio-soratemplates.blogspot.com/2018/05/the-mud-survivor.html">The Mud Survivor </a>
                                                        </h2>
                                                        <div class="post-meta">
                                                            <span class="post-date">May 23, 2018</span>
                                                        </div>
                                                        <p class="post-snippet">Lorem Ipsum is simply dummy text of the printing and typesetting  industry. Lorem Ipsu…</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <!-- <li class="feat-item item-big item-7">
                                            <div class="feat-inner">
                                                <a class="post-image-link" href="https://sio-soratemplates.blogspot.com/2018/05/the-mud-survivor.html">
                                                    <img class="post-thumb lazy-yard" alt="" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhk6iJFKBzKXpkknP7uQpBmak6x1aeKqGZNjlLcY4vbF7cZ3Jp0Gc29pDErswsHZbALVjPOlAibN_qd1oPrRES83HO-TU6ynuINojs57lHQTYmS_wxjmwZJTXgQJyQAiWT_17YR6vbbUc-LhA-IZn6_we6uDJCyH6cEx-VPHDETeztghflO4h4g0ZkJ/w374-h308-p-k-no-nu/1.jpg=w72-h72-p-k-no-nu"></a>
                                                    <div class="post-info">
                                                        <h2 class="post-title">
                                                            <a href="https://sio-soratemplates.blogspot.com/2018/05/the-mud-survivor.html">The Mud Survivor </a>
                                                        </h2>
                                                        <div class="post-meta">
                                                            <span class="post-date">May 23, 2018</span>
                                                        </div>
                                                        <p class="post-snippet">Lorem Ipsum is simply dummy text of the printing and typesetting  industry. Lorem Ipsu…</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul> -->
    </div>
    </div></div>
    </div>
</div>
