<div class="main">
    <div class="main__body">
        <div class="main__aside">
            <p class="main__aside-title">Contents</p>
        </div>
        <div class="main__list">
            <div class="article__container">
                <p class="article__title">Title1</p>
                <p class="article__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel odit impedit natus, nesciunt fugiat maiores quia eligendi consectetur minus iure dolor dolore nemo perspiciatis eum sit aliquid numquam explicabo obcaecati!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero saepe laudantium a eius repellat commodi modi, omnis numquam illo vel ad, fuga ea. Optio perspiciatis architecto sequi qui at inventore!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolor ipsum est ipsa, nemo qui obcaecati exercitationem possimus quasi laboriosam ut quod odit fuga pariatur eveniet molestias, eum eaque natus!
                </p>
                <div class="gallery" style="">
                    <div class="gallery__preview" onclick="openModal(this)">
                        <img src="https://swiperjs.com/demos/images/nature-1.jpg" alt="img">
                    </div>
                    <div class="gallery__modal">
                            <span class="gallery__modal-close" onclick="closeModal(this)">X</span>
                            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                                <div class="swiper-wrapper">
                                  <div class="swiper-slide gallery__slide">
                                    <p class="swiper-slide-time gallery__slide-time">12.03</p>
                                    <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                                    <p class="swiper-slide-text gallery__slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis error expedita officia a! Provident id ducimus, quas nobis atque praesentium minima dolorem iusto, officia commodi consequuntur quidem voluptates magni. Ab.</p>
                                  </div>
                                  <div class="swiper-slide gallery__slide">
                                    <p class="swiper-slide-time gallery__slide-time">12.03</p>
                                    <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
                                    <p class="swiper-slide-text gallery__slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis error expedita officia a! Provident id ducimus, quas nobis atque praesentium minima dolorem iusto, officia commodi consequuntur quidem voluptates magni. Ab.</p>
                                  </div>
                                  <div class="swiper-slide gallery__slide">
                                    <p class="swiper-slide-time gallery__slide-time">12.03</p>
                                    <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                                    <p class="swiper-slide-text gallery__slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis error expedita officia a! Provident id ducimus, quas nobis atque praesentium minima dolorem iusto, officia commodi consequuntur quidem voluptates magni. Ab.</p>
                                  </div>
                                  <div class="swiper-slide gallery__slide">
                                    <p class="swiper-slide-time gallery__slide-time">12.03</p>
                                    <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                                    <p class="swiper-slide-text gallery__slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis error expedita officia a! Provident id ducimus, quas nobis atque praesentium minima dolorem iusto, officia commodi consequuntur quidem voluptates magni. Ab.</p>
                                  </div>
                                  <div class="swiper-slide gallery__slide">
                                    <p class="swiper-slide-time gallery__slide-time">12.03</p>
                                    <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
                                    <p class="swiper-slide-text gallery__slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis error expedita officia a! Provident id ducimus, quas nobis atque praesentium minima dolorem iusto, officia commodi consequuntur quidem voluptates magni. Ab.</p>
                                  </div>
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                              </div>
                    </div>
                </div>
            </div>
            <div class="article__container">
                <p class="article__title">Title2</p>
                <p class="article__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel odit impedit natus, nesciunt fugiat maiores quia eligendi consectetur minus iure dolor dolore nemo perspiciatis eum sit aliquid numquam explicabo obcaecati!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem esse aliquid iste vero fugiat excepturi quas in iusto voluptatibus! Ut molestiae nisi quasi mollitia nemo numquam, illum qui consequatur inventore.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt hic aliquid laborum officia, debitis modi, maxime, architecto omnis repudiandae consectetur alias aperiam! Illo saepe sequi temporibus autem dolorum similique quia!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam odit commodi eum animi consequatur suscipit id quidem omnis quasi? Explicabo cumque, perferendis eligendi tempora cupiditate expedita quia velit est saepe?
                </p>
                <div class="swiper videoSwiper">
                    <div class="swiper-wrapper" style="color: black;">
                      <div class="swiper-slide video__slide">
                        <lite-youtube videoid="ogfYd705cRs" data-title style="background-image: url(&quot;https://i.ytimg.com/vi_webp/ogfYd705cRs/sddefault.webp&quot;);"></lite-youtube>
                    </div>
                    <div class="swiper-slide video__slide">
                        <lite-youtube videoid="ogfYd705cRs" title="Keynote (Google I/O '18)"></lite-youtube>
                    </div>
                    <div class="swiper-slide video__slide">
                        <lite-youtube videoid="ogfYd705cRs" title="Keynote (Google I/O '18)"></lite-youtube>
                    </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
            <div class="article__container">
                <p class="article__title">Title3</p>
                <p class="article__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel odit impedit natus, nesciunt fugiat maiores quia eligendi consectetur minus iure dolor dolore nemo perspiciatis eum sit aliquid numquam explicabo obcaecati!</p>
            </div>
            <div class="article__container">
                <p class="article__title">Title4</p>
                <p class="article__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel odit impedit natus, nesciunt fugiat maiores quia eligendi consectetur minus iure dolor dolore nemo perspiciatis eum sit aliquid numquam explicabo obcaecati!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero saepe laudantium a eius repellat commodi modi, omnis numquam illo vel ad, fuga ea. Optio perspiciatis architecto sequi qui at inventore!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolor ipsum est ipsa, nemo qui obcaecati exercitationem possimus quasi laboriosam ut quod odit fuga pariatur eveniet molestias, eum eaque natus!
                </p>
                <div class="gallery" style="">
                    <div class="gallery__preview" onclick="openModal(this)">
                        <img src="https://swiperjs.com/demos/images/nature-5.jpg" alt="img">
                    </div>
                    <div class="gallery__modal">
                            <span class="gallery__modal-close" onclick="closeModal(this)">X</span>
                            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                                <div class="swiper-wrapper">
                                  <div class="swiper-slide gallery__slide">
                                    <p class="swiper-slide-time gallery__slide-time">12.03</p>
                                    <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                                    <p class="swiper-slide-text gallery__slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis error expedita officia a! Provident id ducimus, quas nobis atque praesentium minima dolorem iusto, officia commodi consequuntur quidem voluptates magni. Ab.</p>
                                  </div>
                                  <div class="swiper-slide gallery__slide">
                                    <p class="swiper-slide-time gallery__slide-time">12.03</p>
                                    <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
                                    <p class="swiper-slide-text gallery__slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis error expedita officia a! Provident id ducimus, quas nobis atque praesentium minima dolorem iusto, officia commodi consequuntur quidem voluptates magni. Ab.</p>
                                  </div>
                                  <div class="swiper-slide gallery__slide">
                                    <p class="swiper-slide-time gallery__slide-time">12.03</p>
                                    <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                                    <p class="swiper-slide-text gallery__slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis error expedita officia a! Provident id ducimus, quas nobis atque praesentium minima dolorem iusto, officia commodi consequuntur quidem voluptates magni. Ab.</p>
                                  </div>
                                  <div class="swiper-slide gallery__slide">
                                    <p class="swiper-slide-time gallery__slide-time">12.03</p>
                                    <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                                    <p class="swiper-slide-text gallery__slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis error expedita officia a! Provident id ducimus, quas nobis atque praesentium minima dolorem iusto, officia commodi consequuntur quidem voluptates magni. Ab.</p>
                                  </div>
                                  <div class="swiper-slide gallery__slide">
                                    <p class="swiper-slide-time gallery__slide-time">12.03</p>
                                    <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
                                    <p class="swiper-slide-text gallery__slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis error expedita officia a! Provident id ducimus, quas nobis atque praesentium minima dolorem iusto, officia commodi consequuntur quidem voluptates magni. Ab.</p>
                                  </div>
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                              </div>
                    </div>
                </div>
            </div>
            <div class="article__container">
                <p class="article__title">Title5</p>
                <p class="article__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel odit impedit natus, nesciunt fugiat maiores quia eligendi consectetur minus iure dolor dolore nemo perspiciatis eum sit aliquid numquam explicabo obcaecati!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem esse aliquid iste vero fugiat excepturi quas in iusto voluptatibus! Ut molestiae nisi quasi mollitia nemo numquam, illum qui consequatur inventore.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt hic aliquid laborum officia, debitis modi, maxime, architecto omnis repudiandae consectetur alias aperiam! Illo saepe sequi temporibus autem dolorum similique quia!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam odit commodi eum animi consequatur suscipit id quidem omnis quasi? Explicabo cumque, perferendis eligendi tempora cupiditate expedita quia velit est saepe?
                </p>
                <div class="swiper videoSwiper">
                    <div class="swiper-wrapper" style="color: black;">
                      <div class="swiper-slide video__slide">
                        <lite-youtube videoid="ogfYd705cRs" data-title style="background-image: url(&quot;https://i.ytimg.com/vi_webp/ogfYd705cRs/sddefault.webp&quot;);"></lite-youtube>
                    </div>
                    <div class="swiper-slide video__slide">
                        <lite-youtube videoid="ogfYd705cRs" title="Keynote (Google I/O '18)"></lite-youtube>
                    </div>
                    <div class="swiper-slide video__slide">
                        <lite-youtube videoid="ogfYd705cRs" title="Keynote (Google I/O '18)"></lite-youtube>
                    </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
            <div class="article__container">
                <p class="article__title">Title6</p>
                <p class="article__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel odit impedit natus, nesciunt fugiat maiores quia eligendi consectetur minus iure dolor dolore nemo perspiciatis eum sit aliquid numquam explicabo obcaecati!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt molestias repellat consequatur harum odit alias debitis animi laudantium magnam. Dignissimos est dolor sit deleniti cupiditate soluta? Neque tenetur accusamus dolorem.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus fugiat et doloribus! Ea, quibusdam repellendus! Temporibus distinctio natus, nam commodi itaque excepturi nihil inventore, cum saepe similique officia beatae nulla?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, consequuntur! Nisi aut sit dolorem reprehenderit tempore accusantium obcaecati in ratione laudantium dolor quisquam tenetur ut, similique, officia saepe perspiciatis aperiam!
                </p>
            </div>
        </div>
    </div>
</div>