<style>
    .preview-img {
        height: 300px;
        width: 300px;
    }

    .modal {
        /* display: none; */
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 99;
    }

    .modal__close {
        color: white;
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;
        z-index: 10;
    }

    .mySwiper2 {
        height: 100%;
    }

    .swiper-slide {
        width: 500px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        color: white;
    }

    .swiper-slide img {
        width: 100%;
        max-width: 500px;
    }

    .swiper-slide-text {
        /* color: white; */
        position: absolute;
        bottom: 15px;
        text-align: center;
        max-width: 75vw;
    }

    .swiper-slide-time {
        position: absolute;
        top: 30px;
        left: 30px;
        text-align: center;
        font-size: 18px;
    }

    .videoSwiper {
        margin-top: 100px;
        /* width: 1000px; */
        background-color: black;
    }

    .video__slide {
        height: 300px;
        background-image: url(../img/photo_2024-03-13_20-18-36.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;

        lite-youtube {
            width: 100%;
            max-width: 335px;
            height: 75%;
        }
    }

    .articles {
        display: flex;
        flex-direction: row;
        height: 1500px;
        width: 100%;
        margin-top: 100px;
        font-size: 18px;
    }

    .articles__aside {
        background-color: gray;
        width: 300px;
    }

    .articles__title {
        font-size: 32px;
    }

    .active-title {
        color: red;
    }
</style>
<img src="https://swiperjs.com/demos/images/nature-1.jpg" alt="img" class="preview-img" onclick="openModal()">

<div class="swiper videoSwiper">
    <div class="swiper-wrapper" style="color: black;">
      <div class="swiper-slide video__slide">
        <lite-youtube videoid="ogfYd705cRs" data-title style="background-image: url(&quot;https://i.ytimg.com/vi_webp/ogfYd705cRs/sddefault.webp&quot;);"></lite-youtube>
    </div>
    <div class="swiper-slide video__slide">
        <lite-youtube videoid="ogfYd705cRs" title="Keynote (Google I/O '18)"></lite-youtube>
    </div>
    <div class="swiper-slide video__slide">
        <lite-youtube videoid="ogfYd705cRs" title="Keynote (Google I/O '18)"></lite-youtube>
    </div>
    <div class="swiper-slide video__slide">
        <lite-youtube videoid="ogfYd705cRs" title="Keynote (Google I/O '18)"></lite-youtube>
    </div>
    <div class="swiper-slide video__slide">
        <lite-youtube videoid="ogfYd705cRs" title="Keynote (Google I/O '18)"></lite-youtube>
    </div>
    </div>
    <div class="swiper-scrollbar"></div>
</div>

<div class="articles">
    <div class="articles__aside">

    </div>
    <div class="articles__list">
        <div class="articles__container">
            <p class="articles__title">Title1</p>
            <p class="articles__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel odit impedit natus, nesciunt fugiat maiores quia eligendi consectetur minus iure dolor dolore nemo perspiciatis eum sit aliquid numquam explicabo obcaecati!</p>
        </div>
        <div class="articles__container">
            <p class="articles__title">Title2</p>
            <p class="articles__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel odit impedit natus, nesciunt fugiat maiores quia eligendi consectetur minus iure dolor dolore nemo perspiciatis eum sit aliquid numquam explicabo obcaecati! 
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat quas provident a officia nostrum mollitia iusto! Natus ad aliquid, eos, facere, deserunt mollitia in minima sint vel unde facilis aut! Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Dolorum, deserunt possimus consequatur eveniet laudantium ducimus ipsum sapiente minus vitae dolor, cumque eaque quaerat iste voluptatibus similique laboriosam voluptatem doloribus. Modi.</p>
        </div>
        <div class="articles__container">
            <p class="articles__title">Title3</p>
            <p class="articles__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel odit impedit natus, nesciunt fugiat maiores quia eligendi consectetur minus iure dolor dolore nemo perspiciatis eum sit aliquid numquam explicabo obcaecati!</p>
        </div>
    </div>
</div>

<div class="modal">
    <span class="modal__close" onclick="closeModal()">X</span>

    <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <p class="swiper-slide-time">12.03</p>
            <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
            <p class="swiper-slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis error expedita officia a! Provident id ducimus, quas nobis atque praesentium minima dolorem iusto, officia commodi consequuntur quidem voluptates magni. Ab.</p>
          </div>
          <div class="swiper-slide">
            <p class="swiper-slide-time">12.03</p>
            <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
            <p class="swiper-slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis error expedita officia a! Provident id ducimus, quas nobis atque praesentium minima dolorem iusto, officia commodi consequuntur quidem voluptates magni. Ab.</p>
          </div>
          <div class="swiper-slide">
            <p class="swiper-slide-time">12.03</p>
            <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
            <p class="swiper-slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis error expedita officia a! Provident id ducimus, quas nobis atque praesentium minima dolorem iusto, officia commodi consequuntur quidem voluptates magni. Ab.</p>
          </div>
          <div class="swiper-slide">
            <p class="swiper-slide-time">12.03</p>
            <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
            <p class="swiper-slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis error expedita officia a! Provident id ducimus, quas nobis atque praesentium minima dolorem iusto, officia commodi consequuntur quidem voluptates magni. Ab.</p>
          </div>
          <div class="swiper-slide">
            <p class="swiper-slide-time">12.03</p>
            <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
            <p class="swiper-slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis error expedita officia a! Provident id ducimus, quas nobis atque praesentium minima dolorem iusto, officia commodi consequuntur quidem voluptates magni. Ab.</p>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
    const modal = document.querySelector('.modal')

    const imgs = ["https://swiperjs.com/demos/images/nature-8.jpg",
    "https://swiperjs.com/demos/images/nature-7.jpg",
    "https://swiperjs.com/demos/images/nature-6.jpg",
    "https://swiperjs.com/demos/images/nature-5.jpg"
    ]

    function openModal(elem) {
        modal.style.display = 'flex'
    }

    function closeModal(elem) {
        modal.style.display = 'none'
    }

    var swiper = new Swiper(".videoSwiper", {
    slidesPerView: 3,
    // spaceBetween: 0,
      scrollbar: {
        el: ".swiper-scrollbar",
        // hide: true,
      },
    });

    var swiper2 = new Swiper(".mySwiper2", {
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });

const articleTitles = document.querySelectorAll('.articles__title');
const aside = document.querySelector('.articles__aside');

articleTitles.forEach(title => {
    const titleClone = title.cloneNode(true);
    
    aside.appendChild(titleClone);
});

const articleTitlesAside = document.querySelectorAll('.articles__aside .articles__title');

articleTitlesAside.forEach(title => {
    title.addEventListener('click', () => {
        const titleText = title.textContent.trim();
        
        const articlesList = document.querySelectorAll('.articles__container');
        let targetArticle;
        articlesList.forEach(article => {
            const articleTitle = article.querySelector('.articles__title').textContent.trim();
            if (articleTitle === titleText) {
                targetArticle = article;
            }
        });

        if (targetArticle) {
            targetArticle.scrollIntoView({ behavior: 'smooth', block: 'center' });
        }
    });
});

function isElementCentered(element) {
    const rect = element.getBoundingClientRect();
    return rect.top <= window.innerHeight / 2 && rect.bottom >= window.innerHeight / 2;
}

function highlightActiveTitle() {
    // const articleTitlesAside = document.querySelectorAll('.articles__aside .articles__title');

    articleTitlesAside.forEach(title => {
        title.classList.remove('active-title');
    });

    const articlesList = document.querySelectorAll('.articles__container');
    let targetArticle;
    articlesList.forEach(article => {
        if (isElementCentered(article)) {
            targetArticle = article;
        }
    });

    if (targetArticle) {
        const targetTitleText = targetArticle.querySelector('.articles__title').textContent.trim();
        articleTitlesAside.forEach(title => {
            if (title.textContent.trim() === targetTitleText) {
                title.classList.add('active-title');
            }
        });
    }
}

window.addEventListener('scroll', highlightActiveTitle);

highlightActiveTitle();

</script>