<!-- <div class="swiper videoSwiper">
    <div class="swiper-wrapper" style="color: black;">
      <div class="swiper-slide video__slide">
        <lite-youtube videoid="ogfYd705cRs" data-title style="background-image: url(&quot;https://i.ytimg.com/vi_webp/ogfYd705cRs/sddefault.webp&quot;);"></lite-youtube>
    </div>
    <div class="swiper-slide video__slide">
        <lite-youtube videoid="ogfYd705cRs" title="Keynote (Google I/O '18)"></lite-youtube>
    </div>
    <div class="swiper-slide video__slide">
        <lite-youtube videoid="ogfYd705cRs" title="Keynote (Google I/O '18)"></lite-youtube>
    </div>
    </div>
    <div class="swiper-scrollbar"></div>
</div> -->

<div class="videoGallery">
    <div class="container x mandatory-scroll-snappinpg videoGallery__container">
        <div class="video__slide videoGallery__item">
            <lite-youtube videoid="ogfYd705cRs" title="Keynote (Google I/O '18)"></lite-youtube>
        </div>
        <div class="video__slide videoGallery__item">
            <lite-youtube videoid="ogfYd705cRs" title="Keynote (Google I/O '18)"></lite-youtube>
        </div>
        <div class="video__slide videoGallery__item">
            <lite-youtube videoid="ogfYd705cRs" title="Keynote (Google I/O '18)"></lite-youtube>
        </div>
    </div>
</div>